{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="about">
        <h3>Know your medicine: A medicine review web application</h3>
        <p>There might be many occasions where people might need apt information about a medicine but a doctor or chemist might not be available at that point of  time and the usage of certain medicines without prior knowledge might lead to side effects that could prove to be worse than the actual problem. "Know your meds” comes handy in these kind of situations as it enables users with real time information about the medicine. It will provide data about the purpose, usage and side effects of the inquired medicine. Apart from this it will also include updates related to medicines in the form of blog posts. It will further aid the users as they will be able to share their feedback about a certain medicine too.</p>
        <p>The main aim of "Know your meds” is to provide a review of the medicine to people as and when needed by using the information from datasets. The system will be implemented using Django framework and it will use SQL. Talking about the functionality, the admin will primarily have two tasks- adding users along with their details and creating relevant posts about medicines, it could include unique facts, newer discoveries or just usage of trivial medicines. First time users will have to register themselves by providing necessary details. Thereafter to access the application, users must login with proper credentials. After logging in, they can search information about a particular medicine, view posts or provide any necessary feedback.</p>
        <p>Concisely, our application will provide a review about the medicine and will also serve as a blog containing useful articles about medicines.</p>
    </div>
{% endblock %}
    