{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div class="form-group">
        <div class="feedback">
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn4 btn-primary" type="Submit" value="Save">
            </form>
            
            <div>
                {% for message in messages %}
                <h3> {{message}}  </h3>
                {% endfor %}
            </div>
        </div>
        </div>
    {% endblock %}
            