{% extends 'base2.html' %}
{% load static %}
        {% block content %}
            <div class="details">
                <h3>{{post.title}}</h3>
                <small>By: {{post.author.first_name}} {{post.author.last_name}}</small>
                <hr>
                <div class="pbody">{{post.body}}</div>
                <br>
                <a href="{% url 'blog' %}" class="btn btn-primary">Go Back</a>
                <br/><br/><br/>
                <form action="{% url 'likes' post.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit", name="post_id", value= "{{post.id}}", class="btn btn-primary-sm">Like</button> 
                    {{ total_likes }} Likes
                </form>
            </div>
        {% endblock %}
            

