{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="register">
    <form action="register" method="post">
        {% csrf_token %}
        <h4>Create Your Account</h4>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        <label><b>First Name</b></label>  
        <input required type="text" name="first_name" id="first_name" value="{{values.first_name}}" placeholder="First Name"><br>
        <label><b>Last Name</b></label>
        <input required type="text" name="last_name" id="last_name" value="{{values.last_name}}" placeholder="Last Name"><br>
        <label><b>User Name</b></label>
        <input required type="text" name="username" id="username" value="{{values.username}}" placeholder="Username"><br>
        <label><b>Email</b></label><br>
        <input required type="email" name="email" id="email" value="{{values.email}}" placeholder="email"><br>
        <label><b>Password</b></label>
        <input required type="password" name="password1" id="password1" placeholder="Password"><br>
        <label><b>Confirm Password</b></label>
        <input required type="password" name="password2" id="password2" placeholder="Confirm Password"><br><br>
        <input type="submit" name="log" id="log" value="Register"><br>
        <div>
            {% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
        </div>  
    </form>
    </div>
    {% endblock %}
    